.lead-title {
    text-align: center;
}

#myChart {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    float: left;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
