.lead-title {
    text-align: center;
}

#title {
    text-align: center;
}

#myChart {
    width: 400px;
    height: 400px;
    margin: auto;
    display: block;
}

.title {
    float: left;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.placeholder {
    display: block;
    padding: 5px;
    margin: 10px;
    float: none;
}

.warning-container {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    float: left;
}
